.choices-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.choices-container .choices-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  width: 75%;
  border-bottom: 1px solid grey;
  margin-bottom: 50px;
}
.choices-container .choices-total {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.choices-container .choices-total button {
  background: none;
  border: none;
}
.choices-container .choices-addToOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choices-container .choices-addToOrder .disabled-btn {
  width: 150px;
  border: white 2px solid;
  text-decoration: none;
  border-radius: 0.25rem;
  color: grey;
  background-color: #ee7e7e;
  margin: 15px 0 15px;
}
.choices-container .choices-addToOrder .active-btn {
  width: 150px;
  border: white 2px solid;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  background-color: crimson;
  margin: 15px 0 15px;
}
