.choices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    .choices-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        width: 75%;
        border-bottom: 1px solid grey;
        margin-bottom: 50px;
    }
    .choices-total {
        width: 10%;
       display: flex;
       align-items: center;
       justify-content: space-between; 
       button {
        background: none;
        border: none;
       }
    }
}