

.landing-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    .landing-hero {
        height: 100vh;
        width: 100vw;
        position: relative;
        flex: 1;


        // background-image: url("../../../public/images/hamburger.jpg");
        // background-size: cover;
        // background-position: center center;
        .landing-img {
            width: 100%;
            object-fit: cover;
        }
        .landing-text {
            color: white;
            font-size: 1.5em;
            position: absolute;
            top: 18%;
            right: 25%;

            z-index: 20;
            .landing-btn {
                margin: 2em 0 0 2em;
                background-color: var(--text-primary-hover);
                border: white 2px solid; 
            }
            .landing-btn:hover {
                color: black;
            }
        }
    }
    .landing-two {
        margin: 7% 0 2%;
        padding: 0 10%;
        height: 100%;
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .landing-left {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-height: 100%;
                max-width: 100%;
                height: 50%;
                width: 50%;
            }
        }
        .landing-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            padding: 0 5%;
        }
        @media (max-width: 768px) {
            .landing-right {
                width: 100vw;
            }
        }

    }
    .landing-mobile-veg {
        display: none;
    }


}





@media (max-width: 768px) {
    .landing-container {
        width: 100%;
        position: relative;
        .landing-hero {
            background-image: url("../../../public/images/hamburger-mobile.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;


            flex: none;
            .landing-img {
                display: none;
            }
            .landing-text {
                padding: 0;
                font-size: 1em;
                // transform: translate(-30%,-90%);
                position: absolute;
                top: 2%;
                left: 25%;
            }
        }
        .landing-two {
            .landing-left {
                display: none;
                img {
                    height: 100%;
                    width: 100%;
                }
            }

        }
        .landing-right {
            .landing-mobile-veg {
                display: inline;
                width: 100vw;
            }
            h2 {
                margin-top: 20px;
                font-size: 1.4em;
            }
            font-size: 0.7em;
        }
    }
}

@media (max-width: 1024px) {
    .landing-container {
        .landing-hero {
            .landing-text {
                right: 12%;
            }
        }
    }

}