#landing {
  height: 90%;
  width: 100%;
  position: absolute;
}
.landing-container {
  background-image: url("../../../public/images/hamburger.jpg");
  background-size: cover;
  z-index: 10;
  height: 100vh;
  width: 100vw;
}
.landing-container .landing-text {
  color: white;
  padding-left: 70vw;
  padding-top: 20vh;
  font-size: 1.5em;
}
.landing-container .landing-btn {
  margin: 2em 0 0 2em;
  background-color: crimson;
  border: white 2px solid;
}
