.bagItem-container {
  border: 2px darkgoldenrod solid;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
  margin-bottom: 20px;
}
.bagItem-container .bagItem-title {
  display: flex;
  justify-content: space-between;
}
.bagItem-container .ind-description {
  padding: 5px 10px;
}
