.bagItem-container {
    border: 2px darkgoldenrod solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 10%;
    margin-bottom: 20px;
    .bagItem-top {
        display: flex;
        align-items: center;
        justify-content: start;
        .bagItem-title {
            display: flex;
            justify-content: space-between;
            align-self: start;
        }
        .bagItem-price {
            margin-left: auto;
        }

    }
    .bagItem-bot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ind-description {
            padding: 5px 10px;
        }
    }
    .bagItem-right {
        align-self: end;
    }
}