.bag-container {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
}
.bag-container h1 {
  align-self: center;
}
.bag-container .empty-bag-btn {
  background-color: crimson;
  border: white 2px solid;
}
.bag-container .full-bag-btn {
  background-color: green;
  border: white 2px solid;
}
.bag-container .option {
  margin: 15px;
}
