.bag-container {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
}
.bag-container h1 {
  align-self: center;
  margin-bottom: 25px;
}
.bag-container .bag-full {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bag-container .bag-full .bag-pricing {
  font-size: 1.5em;
}
.bag-container .full-bag-btn {
  background-color: green;
  border: white 2px solid;
}
.bag-container .option {
  margin: 15px;
}
.bag-container .empty-bag {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bag-container .empty-bag img {
  height: 300px;
  margin: 50px;
}
.bag-container .empty-bag .empty-bag-btn {
  background-color: crimson;
  border: white 2px solid;
  width: 100px;
}
.bag-container .empty-bag p {
  max-width: 80%;
}
@media (max-width: 768px) {
  .bag-container {
    padding: 25px 25px;
  }
  .bag-container h1 {
    margin-bottom: 25px;
  }
  .bag-container .bag-full {
    width: 100%;
  }
}
