.bag-container {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    h1 {
        align-self: center;
        margin-bottom: 25px;
    }

    .bag-full {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .bag-pricing {
            font-size: 1.5em;
        }
    }
    .full-bag-btn {
        background-color: var(--selected-green);
        border: white 2px solid; 
    }
    .option {
        margin: 15px;
    }
    // empty bag
    .empty-bag {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            height: 300px;
            margin: 50px;
        }
        .empty-bag-btn {
            background-color: crimson;
            border: white 2px solid; 
            width: 100px;
        }
        p {
            max-width: 80%;
        }
    }
    .bag-options {
        .empty-bag-btn {
            background-color: var(--button-active);
            border: none;
        }
        .full-bag-btn {
            background-color: green;
        }
    }
}

@media (max-width: 768px) {
    .bag-container {
        padding: 25px 25px;
        h1 {
            margin-bottom: 25px;
        }
        .bag-full {
            width: 100%;
        }
    }
}