.burgers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  color: var(--text-primary);
}
.burgers-container .burgers-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  width: 75%;
  border-bottom: 1px solid grey;
  margin-bottom: 50px;
}
.burgers-container main {
  width: 60%;
}
.burgers-container main section ul {
  display: flex;
}
.burgers-container .burger-total {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burgers-container .burger-total button {
  background: none;
  border: none;
}
.burgers-container .burger-addToOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.burgers-container .burger-addToOrder .disabled-btn {
  width: 150px;
  border: white 2px solid;
  text-decoration: none;
  border-radius: 0.25rem;
  background-color: var(--button-disabled);
  margin: 15px 0 15px;
}
.burgers-container .burger-addToOrder .active-btn {
  width: 150px;
  border: white 2px solid;
  text-decoration: none;
  border-radius: 10px;
  color: var(--text-primary);
  background-color: var(--button-active);
  margin: 15px 0 15px;
}
@media (max-width: 768px) {
  .burgers-container main {
    width: 90%;
  }
  .burgers-container main ul {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    padding: 0;
  }
  .burgers-container .burger-total {
    margin-top: 25px;
    flex-direction: column;
    width: 50%;
  }
}
