.rewards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.7;
    margin: 5% 0;
    section {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        img {
            max-width: 25%;

            height: 450px;
            object-fit: contain;

        }
        .rewards-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            max-width: 25%;
            h1 {
                color: var(--text-primary-hover);
            }
            h2 {
                text-wrap: balance;
            }
            .rewards-joinNow {
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                padding: 5px;
                border-radius: 0.1em;
                font-size: 1.5em;
                padding: 10px 30px;
                background-color: var(--text-primary-hover);
            }
            .rewards-joinNow:hover {
                color: black;
                border: 1px black solid;
            }
        }

    }
    h2 {
        color: var(--text-primary);
        margin-top: 50px;
        margin-bottom: 0;
        padding: 0;
    }
    .mobile-app {
        margin: 50px;
        .android-link {
            // height: 60px;
            // width: 140px;
            height: 90px;
            width: 210px;
        }
        .apple-link {
            // width: 160px;
            // height: 40px;
            width: 240px;
            height: 60px;
        }
    }
    .rewards-arrowTop {
        font-size: 3em;
        color: var(--text-primary);
    }
    .rewards-arrowTop:hover {
        color: var(--text-primary-hover);
    }
}

@media (max-width: 768px) {
    .rewards-container {
        font-size: 0.8em;
        line-height: 1.2;
        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0;
            img {
                max-width: 90%;
                height: 200px;
            }
            .rewards-text {
                max-width: 90%;
                .rewards-joinNow {
                    font-size: 1em;
                }
            }
        }
        .rewards-section3 {
            display: flex;
            flex-direction: column-reverse;
        }
        h2 {
            margin-top: 15px;
            font-size: 1.2em;
        }
        .mobile-app {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}