.construction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 90px;
    img {
        height: 40%;
        width: 40%;
    }
}

@media (max-width: 768px) {
    .construction-container {
        margin: 80px 20px;
        img {
            margin-top: 20px;
            height: 300px;
            width: 350px;
        }
    }
}