@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
// regular: 400, semibold: 600, bold: 700


.header {

    // border-bottom: 2px darkgray solid;
    border-bottom: 2px var(--header-accent) solid;
    // height: 10vh;
    z-index: 10;
    // background-color: lightcyan;
    background-color: var(--header-secondary);
}

#main-logo {
    h1 {
        color: var(--title);
        font-weight: 700;
        text-transform: uppercase;
    }
    h1:hover{
        color: crimson;
        animation: tilt-shaking 0.25s infinite;
    }
}

.bomb-wrapper {
    overflow: hidden;
}

.bomb-wrapper:hover {
    scale: 140%;
}

#bomb-logo {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    transition: scale 400ms;
    transition: ease-in-out;

}

#bomb-logo:hover {
    animation: tilt-shaking 0.25s infinite;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }



.navbar-brand {
    display: flex;
    justify-content: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}


.navbar-collapse {
    justify-content: flex-end;
    align-items: center;

    .nav-link {
        position: relative;
        font-size: 2em;
        font-weight: 600;
        padding: 0 20px;
        color: var(--header-primary);
        transition: color 0.1s ease-in;
        #bag-icon {
            margin: 0 0 10px 20px;
        }
    }
    .nav-link:hover {
        color: var(--header-primary-hover);
        font-weight: 600;
    }
    .nav-link::after {
        height: 0.1em;
        bottom: -0.1em;
        content: "";
        left: 0.4em;
        position: absolute;
        background-color: var(--header-primary-hover);
        width: 0;
        transition: width 0.2s;
    }
    .nav-link:hover:after {
        width: 30%;
    }
}



@media (max-width:768px) {
    #bomb-logo {
        height: 35px;
        width: 35px;
    }
    .navbar-collapse {
        width: 100vw !important;
        padding: 0 10%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: start;
        .nav-link {

        }
    }
    
}


