.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
#bomb {
  height: 60px;
  width: 150px;
}
#bomb-logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}
.navbar-brand {
  display: flex;
  justify-content: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.navbar-collapse {
  justify-content: flex-end;
}
.nav-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
