@font-face {
  font-family: 'Belanosima';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/belanosima/v1/3y9k6bI8ejDo_3MfCDSLxAA.ttf) format('truetype');
}
@font-face {
  font-family: 'Belanosima';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/belanosima/v1/3y9n6bI8ejDo_3MfCDSL_Nh1M3o.ttf) format('truetype');
}
@font-face {
  font-family: 'Belanosima';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/belanosima/v1/3y9n6bI8ejDo_3MfCDSL_Lx0M3o.ttf) format('truetype');
}
.header {
  border-bottom: 1px #d4cbc7 solid;
  z-index: 10;
  background-color: var(--header-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5% 1% 10%;
}
#main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-logo h1 {
  color: var(--title);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0;
}
#main-logo h1:hover {
  color: crimson;
  animation: tilt-shaking 0.25s infinite;
}
.bomb-wrapper {
  overflow: hidden;
}
.bomb-wrapper:hover {
  scale: 140%;
}
#bomb-logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  transition: scale 400ms;
  transition: ease-in-out;
}
#bomb-logo:hover {
  animation: tilt-shaking 0.25s infinite;
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.navbar-brand {
  display: flex;
  justify-content: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.navbar-collapse {
  justify-content: flex-end;
  align-items: center;
  margin-right: 10%;
}
.navbar-collapse .nav-link {
  position: relative;
  font-size: 2em;
  font-weight: 600;
  padding: 0 20px;
  color: var(--text-primary);
  transition: color 0.1s ease-in;
}
.navbar-collapse .nav-link #bag-icon {
  margin: 0 0 10px 20px;
}
.navbar-collapse .nav-link:hover {
  color: var(--text-primary-hover);
  font-weight: 600;
}
.navbar-collapse .nav-link::after {
  height: 0.1em;
  bottom: -0.1em;
  content: "";
  left: 0.4em;
  position: absolute;
  background-color: var(--text-primary-hover);
  width: 0;
  transition: width 0.2s;
}
.navbar-collapse .nav-link:hover:after {
  width: 30%;
}
@media (max-width: 768px) {
  .header {
    padding: 2%;
    display: flex;
    align-items: center;
  }
  .header #main-logo {
    font-size: 16px;
  }
  .header #main-logo h1 {
    margin-bottom: 0;
    margin: 0 5% 0 0;
  }
  .bagIcon-container {
    margin-right: 1%;
  }
  .bagIcon-container .header-bag.bag-icon {
    height: 35px;
    width: 35px;
  }
  .bagIcon-container h1 {
    font-size: 0.8em;
  }
  .navbar-collapse .nav-link {
    font-size: 1.5em;
  }
  .navbar-toggler {
    order: -1;
  }
  .navbar-collapse {
    width: 100vw !important;
    margin-top: 10px;
    padding: 0 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: auto;
    margin-left: 10px;
    /* Add margin to the left */
  }
}
