#bomb {
    height: 60px;
    width: 150px;
}

.nav-row {
    // width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    .nav-left {
        padding-right: 75px;
        .nav-text {
            padding-left: 10px;
        }
    }
    .nav-right {
        padding-left: 0px;
        .nav-text {
            padding-right: 10px;
        }
    }
}

.navbar-expand{
    justify-content: center;
}

