.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.bomb-wrapper {
    overflow: hidden;
}

.bomb-wrapper:hover {
    scale: 140%;
}

#bomb-logo {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    transition: scale 400ms;
    transition: ease-in-out;

}

#bomb-logo:hover {
    animation: tilt-shaking 0.25s infinite;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }



.navbar-brand {
    display: flex;
    justify-content: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.navbar-collapse{
    justify-content: flex-end;
}


.nav-row {
    // width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    // .nav-left {
    //     padding-right: 75px;
    //     .nav-text {
    //         padding-left: 10px;
    //     }
    // }
    // .nav-right {
    //     padding-left: 0px;
    //     .nav-text {
    //         padding-right: 10px;
    //     }
    // }
}

// .navbar-expand{
//     justify-content: center;
// }

