@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');


:root {
    --title: rgb(173, 33, 24);
    --border-light: #d4cbc7; 
    --text-primary: #451400;
    --text-primary-hover: #ad2118;
    --selected-green: rgba(176,219,118,1.00);
    --button-disabled: rgb(238, 126, 126);
    --button-active: crimson; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
}