.menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    .menu-row {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .menu-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15%;
        margin: 0 5%;
        cursor: pointer;
        .wrapper {
            overflow: hidden;

        }
        .wrapper:hover .menu-image {
            scale: 120%;
        }
        .menu-image {
            height: 20em;
            transition: scale 500ms;
        }
        .item-text {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            b {
                text-transform: uppercase;
                font-size: 2em;
            }
        }
        // .item-body:hover + .menu-hover-text  {
        //     display:block;
        // }
    }
    .menu-item:hover .menu-hover-text{
        display: block;
    }
}

@media (max-width: 768px) {
    .menu-container {
    }
    .menu-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .menu-item {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

